<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>customblockmenu</name>
	<displayName><![CDATA[Кастомное меню]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Отображает кастомное меню]]></description>
	<author><![CDATA[Ismail Albakov (wowsite.ru)]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>